openapi: 3.2.0
info:
  title: Tapcart @tapcart/app-pages Development API - Layouts API
  description: '@tapcart/app-pages within the microservice systems'
  version: 1.0.0
servers:
- url: https://api.tapcart.com/
security:
- bearerAuth: []
tags:
- name: Development API - Layouts
paths:
  /client/{appId}/layouts:
    get:
      summary: Retrieve layouts for a specific app
      description: Returns a list of layouts for the specified appId. Requires read auth.
      tags:
      - Development API - Layouts
      parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
        description: The ID of the app
      - in: query
        name: type
        required: false
        schema:
          type: string
        description: The type of the layout
      - in: query
        name: limit
        required: false
        schema:
          type: integer
        description: The number of layouts to return
      - in: query
        name: sort
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
        description: The sort order of the layouts
      - in: query
        name: readonly
        required: false
        schema:
          type: boolean
        description: Whether to include readonly layouts
      responses:
        '200':
          description: A list of layouts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The ID of the layout
                    appId:
                      type: string
                      description: The ID of the app
                    label:
                      type: string
                      description: The label of the layout
                    type:
                      type: string
                      description: The type of the layout
                    blocks:
                      type: array
                      items:
                        type: object
                        properties:
                          _id:
                            type: string
                            description: The ID of the block
                          appId:
                            type: string
                            description: The ID of the app
                          label:
                            type: string
                            description: The label of the block
                          code:
                            type: string
                            description: The code of the block
                          manifestOptionsList:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: The ID of the manifest option
                                label:
                                  type: string
                                  description: The label of the manifest option
                                type:
                                  type: string
                                  description: The type of the manifest option
                                defaultValue:
                                  type: object
                                  description: The default value of the manifest option
                          manifestConfig:
                            type: object
                            description: The configuration of the manifest
                          readOnly:
                            type: boolean
                            description: Indicates if the block is readOnly
                          blockTemplateId:
                            type: string
                            description: The ID of the block template
                          useBlockTemplate:
                            type: boolean
                            description: Indicates if the block uses a template
                          createdAt:
                            type: string
                            format: date-time
                            description: The creation date of the block
                          updatedAt:
                            type: string
                            format: date-time
                            description: The last update date of the block
                    readOnly:
                      type: boolean
                      description: Indicates if the layout is readOnly
                    layoutTemplateId:
                      type: string
                      description: The ID of the layout template
                    useLayoutTemplate:
                      type: boolean
                      description: Indicates if the layout uses a template
                    createdAt:
                      type: string
                      format: date-time
                      description: The creation date of the layout
                    updatedAt:
                      type: string
                      format: date-time
                      description: The last update date of the layout
        '404':
          description: Layouts not found
        '500':
          description: Server error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
