openapi: 3.2.0
info:
  title: Tapcart @tapcart/app-pages Development API - Dependencies API
  description: '@tapcart/app-pages within the microservice systems'
  version: 1.0.0
servers:
- url: https://api.tapcart.com/
security:
- bearerAuth: []
tags:
- name: Development API - Dependencies
paths:
  /client/{appId}/dependencies:
    post:
      summary: Update dependencies for a specific app.
      description: Updates the dependencies of an app identified by the appId. Requires write auth
      tags:
      - Development API - Dependencies
      parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
        description: The ID of the app.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dependencies:
                  type: array
                  items:
                    type: string
              required:
              - dependencies
      responses:
        '200':
          description: Successfully updated dependencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dependencies:
                    type: array
                    items:
                      type: string
        '404':
          description: No dependencies found for the given appId.
        '500':
          description: Server error.
    get:
      summary: Get dependencies for a specific app.
      description: Retrieves the dependencies of an app identified by the appId.
      tags:
      - Development API - Dependencies
      parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
        description: The ID of the app.
      responses:
        '200':
          description: Successfully retrieved dependencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dependencies:
                    type: array
                    items:
                      type: string
        '404':
          description: No dependencies found for the given appId.
        '500':
          description: Server error.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
